/*UTILITIES*/
/*kleine klassen die helpen met kleur  en interne ruimte*/

.bgGreen{
    background-color: var(--color-accent);
}

.bg-white{
    background-color: var(--color-dominant);
}

.bg-grey{
    background-color: grey;
}

.textWhite{
     color:var(--color-dominant);
}

.shadow-high{
box-shadow: 0 0 1rem;
}

.shadow-low{
    box-shadow: 0 0 .5rem;
}